<clr-main-container>
  <clr-header>
    <div class="branding">
      <a routerLink="" class="nav-link">
        <span class="title">모그레이브 도서관</span>
      </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
      <a class="nav-link" href="https://morgrave.github.io/wiki/">
        <span class="nav-text">위키 페이지</span>
      </a>
      <a class="nav-link" href="https://morgrave.github.io/xperion/">
        <span class="nav-text">엑스페리온 저장소</span>
      </a>
    </div>
  </clr-header>
  <div class="content-container">
    <clr-vertical-nav [clr-nav-level]="1" [clrVerticalNavCollapsible]="true">
      <app-sidebar></app-sidebar>
    </clr-vertical-nav>
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</clr-main-container>
