<clr-main-container>
  <clr-header>
    <div class="branding">
      <a routerLink="" class="nav-link">
        <span class="title">모그레이브 도서관</span>
      </a>
    </div>
    <!-- <div class="header-nav">
      <a class="nav-link" routerLink="explore" routerLinkActive="active">
        <span class="nav-text">로그</span>
      </a>
    </div> -->
  </clr-header>
  <div class="content-container">
    <clr-vertical-nav [clr-nav-level]="1" [clrVerticalNavCollapsible]="true">
      <app-sidebar></app-sidebar>
    </clr-vertical-nav>
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</clr-main-container>
